:root {
  --primary: #4bd97e;
  --header-height: 68px;
  --footer-height: 56px;
}

.header {
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
  padding: 1em;
  background: #ffff;
  position: sticky;
  top: 0;
  z-index: 11;
  text-align: center;
}

.logo {
  height: 25px;
  position: relative;
  top: -3px;
  margin-left: 4px;
}

.dashboard-main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 1rem);
}

.layout {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.footer {
  padding: 1em;
  position: sticky;
  background: #ffff;
  bottom: 0;
  z-index: 11;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

.card {
  margin: 0.5rem;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.mt-16 {
  margin-top: 1rem;
}

.primary-text {
  color: var(--primary);
}

button {
  background-color: var(--primary) !important;
  border: none !important;
}

.font-bold {
  font-weight: 500 !important;
}

.upvote-container {
  float: right;
}

.upvote-icon {
  cursor: pointer;
  padding-right: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

.upvote-icon:hover {
  color: red;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sort-buttons {
  display: flex;
  flex-direction: row;
  gap: 2px;
  flex-wrap: wrap;
}

.alert-z-index {
  z-index: 111;
}

.logout-button {
  width: 21px;
  height: 21px;
  color: var(--primary);
}

.float-right {
  float: right;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 25em));
}

.card {
  min-height: 177px;
}

@media only screen and (max-width: 576px) {
  .sort-buttons {
    padding-top: 5px;
    text-align: center;
  }
}